/*css reset*/
body,
h1,
h3 {margin: 0;}
ul {list-style: none;margin: 0;padding: 0;}
input {padding: 0;outline: none;border: none;}
img {vertical-align: top;border: none;}
a {text-decoration: none;-webkit-tap-highlight-color: transparent;color: #333333;}
/*框架*/
html {height: 100%;overflow: hidden;font-family: Microsoft YaHei ,Helvetica Neue, Helvetica , Roboto ,  Heiti SC, STHeiTi, Arial, sans-serif;}
body {height: 100%;overflow: auto;line-height: 0.5rem;}
.wrapper{position: relative;width: 100%;text-align: center;}
.wrapper.bg{background:#ebfaff url("img/bg.jpg") no-repeat 0 0;background-size: contain;}
.vspace{height: 3.92rem;}
.wrapper .text1216{width: 100%;height: 1.56rem;background: url(img/text.png) no-repeat center 0;background-size: contain;}
.bg p{font-size: .25rem;text-align: center;line-height: .25rem;color: #fcff10;}
.wrapper .box-div1216{text-align: center;}
.wrapper .hand1216{display: inline-block;width: .71rem;height: 1.14rem;background: url("img/hand.png") center 0 no-repeat;background-size: contain;
    -webkit-animation: sport 1.4s linear infinite;
    -o-animation: sport 1.4s linear infinite;
    animation: sport 1.4s linear infinite;}
.wrapper .box1216{display: inline-block;width: 2.99rem;height: 2.51rem;background: url("img/box.png") no-repeat center center;background-size: contain;}
@-webkit-keyframes sport {
    25% {-webkit-transform: translateY(10px);}
    50%, 100% {-webkit-transform: translateY(0);}
    75% {-webkit-transform: translateY(-10px);}
}
@-moz-keyframes sport {
    25% {-webkit-transform: translateY(10px);}
    50%, 100% {-webkit-transform: translateY(0);}
    75% {-webkit-transform: translateY(-10px);}
}
@-ms-keyframes sport {
    25% {-webkit-transform: translateY(10px);}
    50%, 100% {-webkit-transform: translateY(0);}
    75% {-webkit-transform: translateY(-10px);}
}
@keyframes sport {
    25% {-webkit-transform: translateY(10px);}
    50%, 100% {-webkit-transform: translateY(0);}
    75% {-webkit-transform: translateY(-10px);}
}
/*第一关*/
.bg2{background: url("img/bg1.jpg") no-repeat 0 0;background-size: contain;}
.bg2 .one-text1216{display: inline-block;width: 2.23rem;height: .77rem;background: url("img/one.png") no-repeat center center;background-size: contain;padding-top: .6rem;}
.wrapper .canvas-wrapper1216{position: relative;width: 6.92rem;height: 12rem;margin:  0 auto;}
.canvas-wrapper1216 .canvas-cont1216{width: 6rem;height: 7.3rem;margin:0 auto;border: 1px solid #999999;}

.canvas-wrapper1216 .qq1216{display: block;width: 1rem;height: .98rem;position: absolute;left: .6rem;top: .38rem;background: url("img/qq.png") no-repeat 0 0;background-size: contain;}

.canvas-wrapper1216 .arrow1216{position: absolute;display: block;width: .66rem;height:.85rem;background: url("img/arrow.png") no-repeat center center; background-size: contain}
.canvas-wrapper1216 .arrow1216.right-a1216{right:2.9rem;bottom:1.2rem;}
.canvas-wrapper1216 .arrow1216.left-a1216{left: .8rem;top: 1.4rem;}

.canvas-wrapper1216 .sel-box1216{display: block;width: 1.55rem;height: 1.32rem;position: absolute;    right: 2.5rem;bottom: -.1rem;background: url("img/box2.png") no-repeat 0 0;background-size: contain;}